<main>
  <img src="assests/IMG_9464.jpg" alt="Pic"/>
  <div class="des-container">
    <app-page-heading title="Hi, I'm Chirag"></app-page-heading>
    <p >
      Currently a pre-final year student pursuing <span style="text-decoration: underline;">Bachelor in Mathematics and Computing Engineering</span> from <span style="text-decoration: underline;">Delhi Technological University</span>.
    </p>
    <p>
      I'm <span style="text-decoration: underline;">Full-Stack Developer</span> and I've worked with technologies like Angular, Android, the MERN stack and java spring boot. I also have experience and interest in  <span style="text-decoration: underline;">Competetive Programming</span> and  <span style="text-decoration: underline;">Software Development</span> using Java.
    </p>
    <p>
      Apart from computer science, my interests include  <span style="text-decoration: underline;">music</span>, <span style="text-decoration: underline;">writing</span>  (generally poems or just some articles about stuff). I also like to  <span style="text-decoration: underline;">read</span> in my spare time and I also like to post  <span style="text-decoration: underline;">book reviews</span> on here.
    </p>
    <p>
      You can find me on any of my socials, I'm always open to new opportunities or even making new connections.
    </p>
  </div>
  </main>
