main{
  display: flex ;
  flex-direction: row;
  justify-content: center;


}
.des-container{
  display: flex ;
  width: 40%;
  flex-direction: column;
  justify-content: start;
  padding:2rem 2rem;
  row-gap: 20px;
}
img{
  width: 530px;
  height: 100%;
  padding: 2rem 4rem;

}
p{
  font-size: 1.1rem;
  color: var(--text-primary);
  opacity: 0.8;
  max-width: 500px;
}
